/*================ Complete Section================= */

#About {
  margin: 30px 10px 40px;
  overflow: hidden;
  text-align: center;
}
#About h5 {
  margin-bottom: 0px;
  color: rgb(167, 167, 167);
}

/*============== About Container======================== */
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.about__me__image img {
  height: 25rem;
  width: auto;
  border-radius: 30px;
  margin-right: 3rem;
}

/*====================== Expensive Card========================== */
.about__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about__card article {
  background-color: var(--color-bg-variant);
  text-align: center;
  margin: 20px;
  height: 13rem;
  width: 11rem;
  border-radius: 10px;
  padding: 1rem;
}
.about__card article h5 {
  position: relative;
  top: 50px;
}

/*======================About Data section========================== */

.about___data__container {
  display: flex;
  flex-direction: column;
}
.about___data__container p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}

/*================== MEDIA QUERIES (MEDIUM DEVICE)=================== */
@media screen and (max-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about__me__image img {
    height: 20rem;
    width: auto;
    border-radius: 30px;
    margin-right: 2rem;
  }
  .about__me__image {
    position: relative;
    left: 30px;
  }

  /*====================== Expensive Card========================== */
  .about__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about__card article {
    background-color: var(--color-bg-variant);
    text-align: center;
    margin: 5px;
    height: 9rem;
    width: 11rem;
    border-radius: 10px;
    padding: 1rem;
  }
  #About {
    height: 200vh;
  }
  .about___data__container p {
    text-align: justify;
  }
  .about___data__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__card article h5 {
    position: relative;
    top: 0px;
  }
}
/*================== MEDIA QUERIES (SMALL DEVICE)=================== */
@media screen and (max-width: 600px) {
  .about__me__image img {
    height: 15rem;
    width: auto;
    border-radius: 30px;
    margin-right: 3rem;
  }
}
